*.pyc
myo-python-master/build/
myo-python-master/dist/
myo-python-master/env/
myo-python-master/myo_python.egg-info/
python-rtmidi-0.5b1/build/
python-rtmidi-0.5b1/dist/
six-1.9.0/build/
python-rtmidi-0.5b1/python_rtmidi.egg-info/requires.txt
python-rtmidi-0.5b1/python_rtmidi.egg-info/top_level.txt